<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.maxkrass.appreciate">

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.BLUETOOTH"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

	<uses-feature
		android:name="android.hardware.camera2"
		android:required="true"/>

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme"
		android:name="com.orm.SugarApp">

		<meta-data
			android:name="DATABASE"
			android:value="chAPPreciate.db" />
		<meta-data
			android:name="VERSION"
			android:value="2" />
		<meta-data
			android:name="QUERY_LOG"
			android:value="true" />
		<meta-data
			android:name="DOMAIN_PACKAGE_NAME"
			android:value="com.maxkrass.appreciate" />


		<activity
			android:name=".activities.MainActivity"
			android:label="@string/app_name"
			android:configChanges="orientation|screenSize"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.EDIT"/>

				<category android:name="android.intent.category.DEFAULT"/>

				<data android:mimeType="application/zip"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".activities.SettingsActivity"
			android:label="@string/action_settings"
			android:configChanges="orientation|screenSize"
			android:exported="false"/>
		<activity
			android:name=".activities.PitScout"
			android:label="New Pit Scout"
			android:configChanges="orientation|screenSize"
			android:exported="false"/>
		<activity
			android:name=".activities.MatchScout"
			android:label="New Match Scout"
			android:configChanges="orientation|screenSize"
			android:exported="false"/>
		<activity
			android:name=".activities.SearchActivity"
			android:label="Search"
			android:exported="false"/>
		<activity
			android:name=".activities.ViewMatchScoutSelect"
			android:label="View Team"
			android:exported="false"/>
		<activity
			android:name=".activities.ViewPitScout"
			android:label="View Pit"
			android:exported="false"/>
		<activity
			android:name=".activities.MatchScoutOneTeam"
			android:configChanges="orientation|screenSize"
			android:label="View Pit"
			android:exported="false" />
	</application>

</manifest>
